@using DietSystem.ViewModels;
@model Dish

@{
    ViewData["Title"] = "Деталі страви";
}
<div class="container">

    <h1 class="my-4">
        @Model.Name
    </h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Інгрідієнти страви:</h3>
            <p>
                @foreach (var item in Model.DishIngredients)
                {
                    @item.Ingredient.Name
                    @if (item != Model.DishIngredients.Last())
                    {
                        @(", ")
                    }
                }
            </p>
            <h3 class="my-3">Спосіб приготування:</h3>
            <p>@Model.MethodOfCooking</p>
            <h3 class="my-3">Поживна (харчова) цінність в 100г продукту:</h3>
            <ul>
                <li>Білки: @Model.Proteins g;</li>
                <li>Жири: @Model.Fats g;</li>
                <li>Вуглеводи: @Model.Carbohydrates g;</li>
                <li>Енергетична цінність (калорійність) продукту: @Model.Calories kcal;</li>
            </ul>
        </div>
    </div>
</div>