@using DietSystem.ViewModels;
@model Dish

@{
    ViewData["Title"] = "Dish Detail";
}
<h1>Are you sure you want to delete this club?</h1>
<div class="container">

    <h1 class="my-4">
        @Model.Name
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Ingredients:</h3>
            <p>
                @foreach (var item in Model.DishIngredients)
                {
                    @item.Ingredient.Name
                    @if (item != Model.DishIngredients.Last())
                    {
                        @(", ")
                    }

                }
            </p>
            <h3 class="my-3">Method of cooking:</h3>
            <p>@Model.MethodOfCooking</p>
            <h3 class="my-3">Nutrient value in 100 g of the product:</h3>
            <ul>
                <li>Proteins: @Model.Proteins g;</li>
                <li>Fats: @Model.Fats g;</li>
                <li>Carbohydrates: @Model.Carbohydrates g;</li>
                <li>Energy value of the product: @Model.Calories kcal;</li>
            </ul>
        </div>
    </div>
</div>

